.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.logo {
  color: green;
}

.navigation {
  display: flex;
  gap: 16px;
}

.link {
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.link:hover {
  color: green;
}

.link.isActive {
  position: relative;
  color: green;
}

.link.isActive::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -6px;
  height: 3px;
  background-color: green;
}