
.text  {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: grey;
  text-align: center; 

}

 .contener {
  display: flex;
  justify-content: center;
  height: 100vh;
 } 

 .content {
  padding-top: 20px;
}
 
 
 